<h1>Add friends</h1>
    <!-- <div class="form-check" *ngFor="let item of user">
        <div *ngIf="item.name!=currentUser.name"> -->
            <!-- <input  class="form-check-input" type="checkbox" (change)="onChange(item.id, $event.target.checked)">{{item.name}} -->

        <!-- </div> -->
    <!-- </div> -->
<div class="well">
    <div [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div formArrayName="Friends" *ngFor="let m of profileForm.get('Friends').controls;let i=index">
                <div [formGroupName]="i">
                        <div class="form-group">
                                <label>
                                    UserName:
                                </label>
                                <input type="text" formControlName="UserName">
                            </div>
                </div>
            </div>
        <button type="button" (click)="AddFriends()">Add Friends</button>
    </div>
</div>
    <div>
        <button class="success" (click)="submit()">Add</button>
    </div>
