<!-- <p>add friend expense work</p> -->
<form class="form-horizontal">
<div class="panel panel-primary">
        <div class="panel-heading">Add Friend Expense</div>
        <div class="panel-body">
                <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-2">
                                Cost:
                                <input type="number" formControlName="Cost">
                                </label>
                            </div>
                            <div class="form-group">
                                    <label class="col-sm-2">
                                    Description:
                                    <input type="text" formControlName="Description">
                                    </label>
                            </div>
                            <div class="form-group">
                                    <label class="col-sm-2">
                                    Date:                                    
                                    <input type="date" formControlName="Date">
                                    </label>
                            </div>
                          
                        </div>
                        <div class="well">
                        <div formArrayName="MembersExpense" *ngFor="let m of profileForm.get('MembersExpense').controls;let i=index">
                            <div [formGroupName]="i">
                                <label>
                                    Name
                                </label>
                                    <input type ="text"  formControlName="Name" >
                                    <label>
                                        Price
                                    </label>            
                                    <input type="text"  formControlName="Price">
                            </div>
                            <button type="button" (click)="deleteMembers(i)">Delete</button>
                        </div>
                        <button type="button" (click)="AddMembers()">Add Members</button>
                        </div>
                        <div class="panel-body">
                        <div class="form-group">
                                <label>
                                    Split:
                                </label>
                                <input type="radio" formControlName="Split" value="equally" (click)="Split($event.target.value)">Equally
                                <input type="radio" formControlName="Split" value="Unequally" (click)="Split($event.target.value)">Unequally
                            </div>  
                            <div class="form-group">
                                <button type="submit" [disabled]="!profileForm.valid">Submit</button>
                            </div>
                            </div>
                            
                    </form>
                    
                    
                    
    </div>
    </div>
    </form>
    <button class="btn btn-success" (click)="Back()">Back</button>
    
