<h1>show details</h1>
<div class="panel panel-primary">
    <div class="panel-heading">Split wise</div>
    <div class="panel-body">
        <h2>{{user?.name}}</h2>
        <button class="btn btn-success" (click)="Activity()">Activity</button>         
</div>
</div>

<div class="row">
        <div  class=col-md-6>
                <div class="panel panel-primary">
                        <div class="panel-heading">Friends</div>
                        <div class="panel-body">
                                <button class="btn btn-success" (click)="AddFriend()">Add Friend</button>
                                <button class="btn btn-success friend-btn" (click)="FriendDashBoard()">Friend DashBoard</button><br><br>                
                                <table class='table'>
                                        <tr *ngFor="let f of FriendName">
                                            <td>{{f.name}}</td>
                                            <td><button class="btn btn-success" (click)="UnFriend(f.id)">Unfriend</button> </td>
                                        </tr>
                                    </table>
                        </div>         
                    </div>
                </div>
                <div class=col-md-6 width=50%>
                        <div class="panel panel-primary">
                                <div class="panel-heading">Operation</div>
                                <div class="panel-body">
                                        <div class="form-group">
                                                <button class="btn btn-success" (click)="AddFriendExpense()">Add Friend Expense</button>
                                                </div>
                                                <div class="form-group">
                                                <button class="btn btn-success" (click)="AddGroupExpense()">Add Group Expense</button><br>
                                                </div>
                                                <div class="form-group">
                                                <button class="btn btn-success" (click)="Settlement()">Settle Up</button>
                                                </div> 
                                </div>         
                        </div>
                </div>
</div>


<div class="panel panel-primary">
        <div class="panel-heading">Group Name</div>
        <div class="panel-body">
                <button class="btn btn-success" (click)="AddGroup()">Add Group</button>
                <table class='table'>
                        <tr *ngFor="let g of grpName" (click)="NavigateToGroupDashboard(g.id)">
                            <td>{{g.groupName}}</td>
                            <div class="form-group">
                            <td><button class="btn btn-success" (click)="AddMembers(g.id)" >Add</button></td>
                            <td><button class="btn btn-success friend-btn" (click)="Members(g.id)">Members</button></td>

                        </div>
                        </tr>
                    </table>                        
        </div>         
</div>
  
       
