<!-- <p>add-group works</p> -->
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="panel-body">
            <div class="form-group">
                <label>
                Name:
                <input type="text" formControlName="Name" placeholder="Enter the Group Name">
                </label>
            </div>
        </div>
        <div class="form-group">
                <label>
                Date:
                <input type="date" formControlName="Date">
                </label>
        </div>
        <div class="form-group">
                <label>
                    Category:
                </label><br>
                <div *ngFor="let c of Categories">
                    <input type="radio" formControlName="Category" value={{c.categoryId}}>{{c.name}}<br>
                </div>  
        </div>
        <div class="form-group">
                <button type="submit" [disabled]="!profileForm.valid">Submit</button>
            </div>
</form>

